<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editing genre: <%= @genre.name%></title>
  </head>
  <body>
    <h1>Editing genre: <%= @genre.name%></h1>
    <form action="/genres/<%= @genre.id%>" method="post">
      <h3><label> Genre Name: </label></h3>
      <input id="movie_name" type="text" name="movie[name]" value="<%=@movie.name%>">

      <h3><label> Movie Description: </label></h3>
      <input id="movie_description" type="text" name="movie[description]" value="<%=@movie.description%>">

      <h3><label> Movie Studio: </label></h3>
      <input id="studio_name" type="text" name="studio[name]" value="<%=@movie.studio.name%>">

      <h3><label> Movie Genre: </label></h3>
      <% Genre.all.each do |genre| %>
      <label><%=genre.name%></label>
        <input id="genre_name" type="checkbox" name="genre[name][]" value="<%=genre.name%>" <%="checked" if @movie.genres.include?(genre)%>></input>
      <% end %>
      <br></br>
      <input id="save" type="submit" value="save">
    </form>

    <p>
      <h1>This will delete the movie from the system!!</h1>
      <form action="/movies/<%=@movie.id%>/delete" method="post">
        <input id="delete" type="submit" value="delete"></input>
      </form>
    </p>
  </body>
</html>
